<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <div text-center>
          <movie [movie]="movie"></movie>
          <div>
            <strong>Classificação:</strong> {{movie.contentRating}}
          </div>
          <div>
            <strong>Duração:</strong> {{movie.duration}} min
          </div>
          <div *ngIf="movie.genres && movie.genres.length">
            <strong>Gênero:</strong><span *ngFor="let genre of movie.genres"> {{genre}}</span>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
        <ion-segment [(ngModel)]="segmentSessionDates" color="primary" (ionChange)="onChangeSessionDate($event)">
          <ion-segment-button *ngFor="let date of sessionDates" [value]="date">
            {{date}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="!loadingData">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
      </div>
    </ion-row>
    <ion-row padding *ngIf="!loadingData">
      <ion-col *ngIf="!theaters.length" padding>{{noSessionsMessage}}</ion-col>
      <ion-col *ngFor="let theater of theaters"
        col-12 col-sm-6 col-md-4>
        <session-information [theater]="theater"></session-information>
      </ion-col>
      <!-- <button ion-button (click)="buyTickets()">comprar ingresso</button> -->
    </ion-row>
  </ion-grid>
</ion-content>
