<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Busca Cinema</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1>ADRIANO GATS</h1>
  <!-- <ion-item>
    <ion-label>Estado:</ion-label>
    <ion-select [(ngModel)]="state">
      <ion-option
        *ngFor="let state of states"
        [value]="state.uf">{{state.name}}</ion-option>
    </ion-select>

  </ion-item> -->
  <!-- <ion-list radio-group [(ngModel)]="relationship">
    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-radio color="danger" value="friends" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Family</ion-label>
      <ion-radio value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Enemies</ion-label>
      <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
    </ion-item>
  </ion-list> -->
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 *ngFor="let movie of movies">
        <movie (click)="goToDetail(movie.id)" [movie]="movie"></movie>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
