movie {
    section img{
        border-radius: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow:
        rgba(black, 0.66) 0 14px 40px 0;
    }

    .card {
        background: #5a5a5a;
    }

    .card-title {
        color: white;
    }

    img {
        cursor: pointer;
    }
}
